<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="pm_app_folder" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CefBinaries">
            <Component Id="chrome_elf.dll" Directory="pm_app_folder" Guid="*">
                <File Id="chrome_elf.dll" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\chrome_elf.dll" />
            </Component>
            <Component Id="d3dcompiler_47.dll" Directory="pm_app_folder" Guid="*">
                <File Id="d3dcompiler_47.dll" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\d3dcompiler_47.dll" />
            </Component>
            <Component Id="dxcompiler.dll" Directory="pm_app_folder" Guid="*">
                <File Id="dxcompiler.dll" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\dxcompiler.dll" />
            </Component>
            <Component Id="dxil.dll" Directory="pm_app_folder" Guid="*">
                <File Id="dxil.dll" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\dxil.dll" />
            </Component>
            <Component Id="libcef.dll" Directory="pm_app_folder" Guid="*">
                <File Id="libcef.dll" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\libcef.dll" />
            </Component>
            <Component Id="libEGL.dll" Directory="pm_app_folder" Guid="*">
                <File Id="libEGL.dll" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\libEGL.dll" />
            </Component>
            <Component Id="libGLESv2.dll" Directory="pm_app_folder" Guid="*">
                <File Id="libGLESv2.dll" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\libGLESv2.dll" />
            </Component>
            <Component Id="v8_context_snapshot.bin" Directory="pm_app_folder" Guid="*">
                <File Id="v8_context_snapshot.bin" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\v8_context_snapshot.bin" />
            </Component>
            <Component Id="vk_swiftshader.dll" Directory="pm_app_folder" Guid="*">
                <File Id="vk_swiftshader.dll" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\vk_swiftshader.dll" />
            </Component>
            <Component Id="vk_swiftshader_icd.json" Directory="pm_app_folder" Guid="*">
                <File Id="vk_swiftshader_icd.json" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\vk_swiftshader_icd.json" />
            </Component>
            <Component Id="vulkan_1.dll" Directory="pm_app_folder" Guid="*">
                <File Id="vulkan_1.dll" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\vulkan-1.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>