<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="pm_app_folder">
            <Directory Id="locales" Name="locales" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CefResources">
            <Component Id="chrome_100_percent.pak" Directory="pm_app_folder" Guid="*">
                <File Id="chrome_100_percent.pak" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\chrome_100_percent.pak" />
            </Component>
            <Component Id="chrome_200_percent.pak" Directory="pm_app_folder" Guid="*">
                <File Id="chrome_200_percent.pak" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\chrome_200_percent.pak" />
            </Component>
            <Component Id="icudtl.dat" Directory="pm_app_folder" Guid="*">
                <File Id="icudtl.dat" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\icudtl.dat" />
            </Component>
            <Component Id="resources.pak" Directory="pm_app_folder" Guid="*">
                <File Id="resources.pak" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\resources.pak" />
            </Component>
            <Component Id="en_US.pak" Directory="locales" Guid="*">
                <File Id="en_US.pak" KeyPath="yes" Source="$(var.PresentMon.TargetDir)\locales\en-US.pak" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>