<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product
        Id="*"
        Name="Intel(R) PresentMon"
        Language="1033"
        Version="2.3.1.0"
        Manufacturer="Intel(R) Corporation"
        UpgradeCode="CD0D489E-0FE7-452D-90D9-F94F3F5FF410">

        <Package
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine">
        </Package>

        <MediaTemplate EmbedCab="yes" />

        <?define console_app_ver = 2.3.1 ?>
        <?define console_app_path = $(pm.GetConsoleAppPath($(var.SolutionDir), $(var.console_app_ver))) ?>
        <?define console_app_filename = $(pm.GetConsoleAppFileName($(var.console_app_ver))) ?>
        <?define has_console_app = $(pm.CheckFileExists($(var.console_app_path))) ?>
		<?define WebRoot = "$(var.PresentMon.TargetDir)ipm-ui-vue" ?>

        <Feature
            Id="complete_install"
            Title="Intel(R) PresentMon"
            Description="!(loc.feature_complete_install_description)"
            Display="expand">
            <ComponentRef Id="pm_license" />
            <Feature
                Id="presentmon_install"
                Title="!(loc.feature_presentmon_install_title)"
                Description="!(loc.feature_presentmon_install_description)"
                Level="1"
                Absent="disallow" >
                <ComponentGroupRef Id="service_files" />
                <ComponentGroupRef Id="pm_app" />
				<ComponentGroupRef Id="CefBinaries" />
				<ComponentGroupRef Id="CefResources" />
                <ComponentGroupRef Id="pm_app_shaders" />
                <ComponentGroupRef Id="pm_app_presets" />
                <ComponentGroupRef Id="pm_app_web" />
                <ComponentGroupRef Id="pm_app_web_css" />
                <ComponentGroupRef Id="pm_app_web_fonts" />
                <ComponentGroupRef Id="pm_app_web_js" />
                <ComponentGroupRef Id="shortcuts" />
                <ComponentGroupRef Id="desktop_shortcut" />
            </Feature>
            <Feature
                Id="presentmon_provider_install"
                Title="!(loc.feature_presentmon_provider_install_title)"
                Description="!(loc.feature_presentmon_provider_install_description)"
                Level="1"
                Absent="allow">
                <ComponentGroupRef Id="provider_group" />
            </Feature>
			<Feature
                Id="presentmon_sdk_install"
                Title="PresentMon SDK"
                Description="Libraries for interfacing with the PresentMon service via API"
                Level="1"
                Absent="allow">
				<ComponentGroupRef Id="sdk_group" />
			</Feature>
            <?if $(var.has_console_app) = "true" ?>
            <Feature
                Id="presentmon_console_install"
                Title="!(loc.feature_presentmon_console_app_install_title)"
                Description="!(loc.feature_presentmon_console_app_install_description)"
                Level="1">
                <ComponentGroupRef Id="console_app_group" />
            </Feature>
            <?endif?>
            <Feature
                Id="main_application_uninstall"
                Title="uninstall"
                AllowAdvertise="no"
                Level="1"
                Absent="disallow"
                Display="hidden">
                <ComponentRef Id="CleanupMainApplicationFolder" />
                <ComponentRef Id="CleanupAppLocalDataFolder" />
            </Feature>
        </Feature>

        <UIRef Id="WixUI_FeatureTree"/>
        <UIRef Id="WixUI_ErrorProgressText" />

        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

        <MajorUpgrade Schedule="afterInstallValidate"
                      DowngradeErrorMessage="!(loc.product_downgrade_error_message)"/>

        <!--
        RemoveFolderEx requires that we pull the folder information from the registry.
        Obtain the main application folder name
        -->
        <Property
            Id="APPLICATIONFOLDER">
            <RegistrySearch
                Id="MainApplicationFolderRegSearch"
                Root="HKCU"
                Key="Software\Intel\PresentMon"
                Name="PresentMonInstallFolder"
                Type="raw" />
        </Property>
        <!--
        As well as the local app date folder
        -->
        <Property
            Id="LOCALAPPDATAFOLDER">
            <RegistrySearch
                Id="LocalAppDataFolderSearch"
                Root="HKCU"
                Key="Software\Intel\PresentMon"
                Name="LocalAppDataPresentMonFolder"
                Type="raw" />
        </Property>
    </Product>

    <Fragment>
        <Directory
            Id="TARGETDIR"
            Name="SourceDir">
            <Directory
                Id="ProgramFiles64Folder">
                <Directory
                    Id="intel_folder"
                    Name="Intel">
                    <Directory
                        Id="APPLICATIONFOLDER"
                        Name="PresentMon">
                        <Directory
                            Id="service_folder"
                            Name="Service"/>
                        <Directory
                            Id="sdk_folder"
                            Name="SDK"/>
                        <Directory
                            Id="provider_folder"
                            Name="Provider"/>
                        <Directory
                            Id="pm_console_app_folder"
                            Name="PresentMonConsoleApplication"/>
                        <Directory
                            Id="pm_app_folder"
                            Name="PresentMonApplication">
                            <Directory
                                Id="pm_app_shaders_folder"
                                Name="Shaders"/>
                            <Directory
                                Id="pm_app_presets_folder"
                                Name="Presets"/>
                            <Directory
                                Id="pm_app_web_folder"
                                Name="ipm-ui-vue">
                                <Directory
                                    Id="pm_app_web_css_folder"
                                    Name="css"/>
                                <Directory
                                    Id="pm_app_web_fonts_folder"
                                    Name="fonts"/>
                                <Directory
                                    Id="pm_app_web_js_folder"
                                    Name="js"/>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory
                Id="ProgramMenuFolder">
                <Directory
                    Id="shortcuts_folder"
                    Name="PresentMon"/>
            </Directory>
            <Directory
                Id="DesktopFolder"
                Name="Desktop">
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component
                Id="CleanupMainApplicationFolder"
                Guid="*">
                <RegistryValue
                    Root="HKCU"
                    Key="Software\Intel\PresentMon"
                    Name="PresentMonInstallFolder"
                    Type="string"
                    Value="[APPLICATIONFOLDER]"
                    KeyPath="yes"/>
                <util:RemoveFolderEx
                    On="uninstall"
                    Property="APPLICATIONFOLDER" />
            </Component>
            <Component
                Id="CleanupAppLocalDataFolder"
                Guid="*">
                <RegistryValue
                    Root="HKCU"
                    Key="Software\Intel\PresentMon"
                    Name="LocalAppDataPresentMonFolder"
                    Type="string"
                    Value="[LocalAppDataFolder]Intel\PresentMon"
                    KeyPath="yes"/>
                <util:RemoveFolderEx
                    On="uninstall"
                    Property="LOCALAPPDATAFOLDER" />
            </Component>
            <Component
                Id="pm_license"
                Guid="CB62BC39-92A6-4F4E-9028-289EF6030EBE">
                <File
                    Id="license_text"
                    Name="LICENSE.txt"
                    Source="..\..\LICENSE.txt">
                </File>
                <File
                    Id="third_party_text"
                    Name="THIRD_PARTY.txt"
                    Source="..\..\THIRD_PARTY.txt">
                </File>
            </Component>
        </DirectoryRef>
        <ComponentGroup
            Id="provider_group"
            Directory="provider_folder">
            <Component Id="Intel_PresentMon.dll">
                <File
                    Id="Intel_PresentMon.dll"
                    Source="$(var.Provider.TargetPath)"
                    KeyPath="yes">
                </File>
            </Component>
            <Component Id="IntelPresentMon.man">
                <File
                    Id="IntelPresentMon.man"
                    Source="$(var.Provider.ProjectDir)Intel-PresentMon.man"
                    KeyPath="yes">
                    <util:EventManifest
                        MessageFile="[#Intel_PresentMon.dll]"
                        ResourceFile="[#Intel_PresentMon.dll]">
                    </util:EventManifest>
                </File>
            </Component>
        </ComponentGroup>
        <ComponentGroup
            Id="service_files"
            Directory="service_folder">
            <Component
                Id="present_mon_service_exe"
                Guid="791A1C04-2770-47B5-85D8-8FC2BC3BB731">
                <File
                    Id="present_mon_service_exe"
                    Name="$(var.PresentMonService.TargetFileName)"
                    Source="$(var.PresentMonService.TargetPath)"
                    KeyPath="yes">
                </File>
                <ServiceInstall
                    Id="install_present_mon_service"
                    Name="PresentMonService"
                    DisplayName="PresentMonService"
                    Description="!(loc.component_service_install_description)"
                    Start="auto"
                    ErrorControl="normal"
                    Type="ownProcess" />
                <ServiceControl
                    Id="sc_windows_service"
                    Name="PresentMonService"
                    Start="install"
                    Stop="both"
                    Remove="uninstall"
                    Wait="yes" />
            </Component>
			<Component
                Id="pm_service_present_mon_api_2_dll"
                Guid="B78C51BB-81AC-4AAB-871F-85D2D0EA37C3">
				<File
                    Id="pm_service_present_mon_api_2_dll"
                    Name="$(var.PresentMonAPI2.TargetFileName)"
                    Source="$(var.PresentMonAPI2.TargetPath)"
                    KeyPath="yes">
				</File>
			</Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app"
            Directory="pm_app_folder">
            <Component
                Id="pm_app_app_cef_exe"
                Guid="F8DAC5BC-4440-43E5-87AC-B192A7B1C856">
                <File
                    Id="pm_app_app_cef_exe"
                    Name="$(var.PresentMon.TargetFileName)"
                    Source="$(var.PresentMon.TargetPath)"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_kern_proc_exe"
                Guid="7E4A9C50-97C5-4BFE-B4D0-0E3B2FA5C3F7">
                <File
                    Id="pm_app_kern_proc_exe"
                    Name="$(var.KernelProcess.TargetFileName)"
                    Source="$(var.KernelProcess.TargetPath)"
                    KeyPath="yes">
                </File>
            </Component>
			<Component
                Id="pm_app_target_block_list_txt"
                Guid="203B303F-A097-4B1E-BFA0-895794F192C1">
                <File
                    Id="pm_app_target_block_list_txt"
                    Name="TargetBlockList.txt"
                    Source="$(var.PresentMon.TargetDir)Blocklists\TargetBlockList.txt"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_remove_middleware"
                Guid="C980319A-1DC0-4F9C-9E93-9775B71CD1A5">
				<RemoveFile Id="remove_app_middleware" Name="$(var.PresentMonAPI2.TargetFileName)" On="both"/>
            </Component>
			<Component
                Id="pm_app_present_mon_api_2_loader_dll"
                Guid="046B72A8-25CD-4185-AE7D-AFE7C5ADC24D">
				<File
                    Id="pm_app_present_mon_api_2_loader_dll"
                    Name="$(var.PresentMonAPI2Loader.TargetFileName)"
                    Source="$(var.PresentMonAPI2Loader.TargetPath)"
                    KeyPath="yes">
				</File>
			</Component>
			<Component
                Id="pm_app_flash_injector_32"
                Guid="53B0360B-8EC3-4E52-BB97-E30A8D16C813">
				<File
                    Id="pm_app_flash_injector_32"
                    Name="FlashInjector-Win32.exe"
                    Source="$(var.PresentMon.TargetDir)FlashInjector-Win32.exe"
                    KeyPath="yes">
				</File>
			</Component>
			<Component
                Id="pm_app_flash_injector_64"
                Guid="1397EEFE-95DF-4761-9597-5966B2416C25">
				<File
                    Id="pm_app_flash_injector_64"
                    Name="FlashInjector-x64.exe"
                    Source="$(var.PresentMon.TargetDir)FlashInjector-x64.exe"
                    KeyPath="yes">
				</File>
			</Component>
			<Component
                Id="pm_app_flash_injection_library_32_dll"
                Guid="5DCE775A-1849-4540-828E-CDE676995FCC">
				<File
                    Id="pm_app_flash_injection_library_32_dll"
                    Name="FlashInjectorLibrary-Win32.dll"
                    Source="$(var.PresentMon.TargetDir)FlashInjectorLibrary-Win32.dll"
                    KeyPath="yes">
				</File>
			</Component>
			<Component
                Id="pm_app_flash_injection_library_64_dll"
                Guid="E149257A-E935-453E-B6C1-1764C3CE7DDE">
				<File
                    Id="pm_app_flash_injection_library_64_dll"
                    Name="FlashInjectorLibrary-x64.dll"
                    Source="$(var.PresentMon.TargetDir)FlashInjectorLibrary-x64.dll"
                    KeyPath="yes">
				</File>
			</Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app_shaders"
            Directory="pm_app_shaders_folder">
            <Component
                Id="pm_app_shaders_line_ps_cso"
                Guid="A8763E1B-2C47-4384-84CA-83ACE4432CC6">
                <File
                    Id="pm_app_shaders_line_ps_cso"
                    Name="Line_PS.cso"
                    Source="$(var.PresentMon.TargetDir)shaders\Line_PS.cso"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_shaders_line_vs_cso"
                Guid="E86A8F57-4800-42A5-A412-A551E0B9C4C2">
                <File
                    Id="pm_app_shaders_line_vs_cso"
                    Name="Line_VS.cso"
                    Source="$(var.PresentMon.TargetDir)shaders\Line_VS.cso"
                    KeyPath="yes">
                </File>
            </Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app_presets"
            Directory="pm_app_presets_folder">
            <Component
                Id="pm_app_preset_0"
                Guid="46B6EA26-146A-4FB7-9536-E6ABD794379A">
                <File
                    Id="pm_app_preset_0"
                    Name="preset-0.json"
                    Source="$(var.PresentMon.TargetDir)Presets\preset-0.json"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_preset_1"
                Guid="B30A4F04-D117-45C2-9BD6-B5725208BDFB">
                <File
                    Id="pm_app_preset_1"
                    Name="preset-1.json"
                    Source="$(var.PresentMon.TargetDir)Presets\preset-1.json"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_preset_2"
                Guid="74D65127-230C-4015-9733-B33CC499216D">
                <File
                    Id="pm_app_preset_2"
                    Name="preset-2.json"
                    Source="$(var.PresentMon.TargetDir)Presets\preset-2.json"
                    KeyPath="yes">
                </File>
            </Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app_web"
            Directory="pm_app_web_folder">
            <Component
                Id="pm_app_web_index_html"
                Guid="E23A99DE-069B-4B6C-A42C-CBA631EB10FB">
                <File
                    Id="pm_app_web_index_html"
                    Name="index.html"
                    Source="$(var.WebRoot)\index.html"
                    KeyPath="yes">
                </File>
            </Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app_web_css"
            Directory="pm_app_web_css_folder">
            <Component
                Id="pm_app_web_css_app_2a6b37b7_css"
                Guid="50946F92-182F-4029-BFFE-60735858373F">
                <File
                    Id="pm_app_web_css_app_2a6b37b7_css"
                    Name="index.css"
                    Source="$(var.WebRoot)\css\index.css"
                    KeyPath="yes">
                </File>
            </Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app_web_fonts"
            Directory="pm_app_web_fonts_folder">
            <Component
                Id="pm_app_web_fonts_materialdesignicons_webfont_woff2"
                Guid="55946F92-185F-4029-BFFE-60675358373F">
                <File
                    Id="pm_app_web_fonts_materialdesignicons_webfont_woff2"
                    Name="materialdesignicons-webfont.woff2"
                    Source="$(var.WebRoot)\fonts\materialdesignicons-webfont.woff2"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_web_fonts_roboto_cyrillic_400_normal_woff2"
                Guid="57946F92-187F-4029-BFFE-60675358373F">
                <File
                    Id="pm_app_web_fonts_roboto_cyrillic_400_normal_woff2"
                    Name="roboto-cyrillic-400-normal.woff2"
                    Source="$(var.WebRoot)\fonts\roboto-cyrillic-400-normal.woff2"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_web_fonts_roboto_cyrillic_ext_400_normal_woff2"
                Guid="59946F92-189F-4029-BFFE-60675358373F">
                <File
                    Id="pm_app_web_fonts_roboto_cyrillic_ext_400_normal_woff2"
                    Name="roboto-cyrillic-ext-400-normal.woff2"
                    Source="$(var.WebRoot)\fonts\roboto-cyrillic-ext-400-normal.woff2"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_web_fonts_roboto_latin_400_normal_woff2"
                Guid="61946F92-191F-4029-BFFE-60675358373F">
                <File
                    Id="pm_app_web_fonts_roboto_latin_400_normal_woff2"
                    Name="roboto-latin-400-normal.woff2"
                    Source="$(var.WebRoot)\fonts\roboto-latin-400-normal.woff2"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_web_fonts_roboto_latin_ext_400_normal_woff2"
                Guid="63946F92-193F-4029-BFFE-60675358373F">
                <File
                    Id="pm_app_web_fonts_roboto_latin_ext_400_normal_woff2"
                    Name="roboto-latin-ext-400-normal.woff2"
                    Source="$(var.WebRoot)\fonts\roboto-latin-ext-400-normal.woff2"
                    KeyPath="yes">
                </File>
            </Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app_web_js"
            Directory="pm_app_web_js_folder">
            <Component
                Id="pm_app_web_js_app_133012a8_js"
                Guid="B0A83480-CE11-4A41-AFB0-CEA2DB375B6A">
                <File
                    Id="pm_app_web_js_app_133012a8_js"
                    Name="app.js"
                    Source="$(var.WebRoot)\js\app.js"
                    KeyPath="yes">
                </File>
            </Component>
        </ComponentGroup>
        <?if $(var.has_console_app) = "true" ?>
        <ComponentGroup
            Id="console_app_group"
            Directory="pm_console_app_folder">
            <Component
                Id="console_app_exe"
                Guid="12C3F55B-9586-4FD2-A705-C89A224ECBB5">
                <File
                    Id="console_app_exe"
                    Name="$(var.console_app_filename)"
                    Source="$(var.console_app_path)"
                    KeyPath="yes">
                </File>
            </Component>
        </ComponentGroup>
        <?endif?>
		<ComponentGroup
            Id="sdk_group"
            Directory="sdk_folder">
			<Component
                Id="loader_import_lib"
                Guid="5746C4B9-7D3D-47AE-AEC5-9EB8CEFDAAEB">
				<File
                    Id="loader_import_lib"
                    Name="PresentMonAPI2Loader.lib"
                    Source="$(var.PresentMonAPI2Loader.TargetDir)"
                    KeyPath="yes">
				</File>
			</Component>
			<Component
                Id="loader_dll"
                Guid="FB49F469-944D-4772-AA68-759BC3264430">
				<File
                    Id="loader_dll"
                    Name="$(var.PresentMonAPI2Loader.TargetFileName)"
                    Source="$(var.PresentMonAPI2Loader.TargetDir)"
                    KeyPath="yes">
				</File>
			</Component>
			<Component
                Id="api_header"
                Guid="482AD952-40FB-4278-BF41-EF9F61F709BC">
				<File
                    Id="api_header"
                    Name="PresentMonAPI.h"
                    Source="$(var.PresentMonAPI2.ProjectDir)"
                    KeyPath="yes">
				</File>
			</Component>
		</ComponentGroup>
        <ComponentGroup
            Id="shortcuts"
            Directory="shortcuts_folder">
            <Component
                Id="present_mon_shortcuts"
                Guid="3F7502E9-BE4B-47A2-9270-C653816A7112">
                <Shortcut
                    Id="present_mon_start_menu_shortcut"
                    Name="Intel PresentMon"
                    Target="[pm_app_folder]PresentMon.exe"
                    WorkingDirectory="pm_app_folder"/>
                <Shortcut
                    Id="uninstall_shortcut"
                    Name="Uninstall Intel PresentMon"
                    Target="[System64Folder]msiexec.exe"
                    Arguments="/x [ProductCode]"/>
                <RemoveFolder
                    Id="remove_sample_client_executable_shortcut"
                    On="uninstall"/>
                <RegistryValue
                    Root="HKCU"
                    Key="Software\Intel\PresentMon"
                    Name="installed"
                    Type="integer"
                    Value="1"
                    KeyPath="yes"/>
            </Component>
        </ComponentGroup>
        <ComponentGroup
            Id="desktop_shortcut"
            Directory="DesktopFolder">
            <Component
                Id="present_mon_desktop_shortcut"
                Guid="8FD09995-32BF-42D3-B5E2-57F5D2592D67">
                <Shortcut Id="present_mon_desktop_shortcut"
                          Name="Intel PresentMon"
                          Description="Launch Intel PresentMon"
                          Target="[pm_app_folder]PresentMon.exe"
                          WorkingDirectory="pm_app_folder">
                </Shortcut>
                <RegistryValue Root="HKCU"
                               Key="Software\Intel\PresentMon"
                               Name="DesktopShortcut"
                               Type="integer"
                               Value="1"
                               KeyPath="yes">
                </RegistryValue>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
